:host {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  transform-origin: center;
  -webkit-user-drag: none;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
